{% extends 'base.html' %}
{% from '_helpers.html' import render_field %}
{% block container %}

<fieldset>
    LOGIN: {{ render_field('username', 'icon-user') }} <br/><br/>
    PASSWORD: {{ render_field('password', 'icon-key', type='password') }}
</fieldset>

<a href="{{ url_for('catalog.products') }}" id="catalog_link">
    Kliknij tutaj aby wejść do katalogu!
</a>

<p>Current time: {{ momentjs(timestamp).calendar() }}</p>
<p>End of day: {{ momentjs(timestamp).endOf('day') }}</p>
<br/>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $.getJSON("/home", function(data) {
            $('#catalog_link').append('<span class="badge">' + data.count + '</span>');
        });
    });
</script>
{% endblock %}