{% extends 'base.html' %}
{% from '_helpers.html' import render_field %}
{% block container %}

{% if session.username %}
<h2>Witaj {{ session.username }}!</h2>
<a href="{{ url_for('auth.logout') }}">Kliknij, aby się wylogować.</a>
{% else %}
Kliknij <a href="{{ url_for('auth.login') }}">tutaj</a> aby się zalogować,
albo <a href="{{ url_for('auth.register') }}">tutaj</a> aby się zarejestrować.

<p>Current time: {{ momentjs(timestamp).calendar() }}</p>
<p>End of day: {{ momentjs(timestamp).endOf('day') }}</p>
<br/>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $.getJSON("/home", function(data) {
            $('#catalog_link').append('<span class="badge">' + data.count + '</span>');
        });
    });
</script>
{% endblock %}